body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteiner{
    width: 95%;
    height: 700px;
    margin: auto;
    text-align: center;
}

#map_img {
    width: 80%;
    height: 80%;
    border-radius: 5px;
}

#nav {
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

#tr_limitador{
    border-bottom: 1px solid;
    border-color: black;
}



footer{
    text-align: center;
}


a {
    text-decoration: none;
    font: size 1rem;;
}

table {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

td{
    width: 150px;
    height: 100px;
    border: 1px none;
    
}

epiragon {
    font-size: 20px;
    padding: 15px;
    color: #fb6f7f;
    transition: color 0.5s;
    cursor: pointer;
}
epiragon:hover {
    color: #ffaeb7;
}

novyatt {
    font-size: 20px;
    padding: 15px;
    color: #434343;
    transition: color 0.5s;
    cursor: pointer;
}
novyatt:hover{
    color: #919090;
}

siaahra {
    font-size: 20px;
    padding: 15px;
    color: #695d2f;
    transition: color 0.5s;
    cursor: pointer;
}
siaahra:hover{
    color: #bc9b17;
}

maera {
    font-size: 20px;
    padding: 15px;
    color: #079074;
    transition: color 0.5s;
    cursor: pointer;
}
maera:hover{
    color: #05e2b6;
}

thundaera {
    font-size: 20px;
    padding: 15px;
    color: #4919e6;
    transition: color 0.5s;
    cursor: pointer;
    
}
thundaera:hover{
    color: #9676ff;
}

yggbrasil {
    font-size: 20px;
    padding: 15px;
    color: #267604;
    transition: color 0.5s;
    cursor: pointer;
    
}
yggbrasil:hover{
    color: #78df4c;
}

glaciterno {
    font-size: 20px;
    padding: 15px;
    color: #4388ad;
    transition: color 0.5s;
    cursor: pointer;
    
}
glaciterno:hover{
    color: #1ac3f6;
}

/*Seletor de Tipo de Escolar CSS*/
mundo {
    font-size: 2.5rem;
    padding: 15px;
    color: #525453;
    transition: color 0.5s;
    cursor: pointer;
    font-weight: bolder;
    
}
mundo:hover{
    color: #8e8e8e;
}

divindades {
    font-size: 2.5rem;
    padding: 15px;
    color: #006eff;
    transition: color 0.5s;
    cursor: pointer;
    font-weight: bolder;
    
}
divindades:hover{
    color: #569dfa;
}

.voltar:hover{
    color: rgb(246, 86, 86);
}

h1{
    border-bottom: 2px solid;
    border-color: rgb(187, 187, 187);
}

td:hover{
    background-color: rgb(235, 235, 235);
}
/*Elementos*/

trovao{
    color: rgb(177, 101, 249);
    font-weight: bold;
}

agua{
    color: rgb(3, 121, 255);
    font-weight: bold;
}

fogo{
    color: rgb(255, 103, 68);
    font-weight: bold;
}

terra{
    color: rgb(119, 104, 71);
    font-weight: bold;
}

natureza{
    color: rgb(114, 163, 60);
    font-weight: bold;
}

gelo{
    color: rgb(53, 158, 199);
    font-weight: bold;
}

ar{
    color: rgb(73, 114, 181);
    font-weight: bold;
}

espirito{
    color: rgb(251, 131, 159);
    font-weight: bold;
}

trevas{
    color: rgb(95, 70, 117);
    font-weight: bold;
}

ilusao{
    color: rgb(220, 57, 238);
    font-weight: bold;
}

festiva{
    color: rgb(238, 57, 57);
    font-weight: bold;
}

vazio{
    color: rgb(157, 125, 125);
    font-weight: bold;
}

destruicao{
    color: rgb(182, 18, 18);
    font-weight: bold;
}

luz{
    color: rgb(192, 168, 60);
    font-weight: bold;
}